In [1]:
import pandas as pd

In [2]:
filename = 'covid19-es-and.csv'
fecha = '20/03/2020'
url = 'https://www.juntadeandalucia.es/organismos/saludyfamilias/actualidad/noticias/detalle/233498.html'

In [3]:
# Load 
tables = pd.read_html(url, header=0, index_col='Provincia')
assert len(tables) == 1
dfL = tables[0]
dfL

           Positivo  Ingresos  Seguimiento activo  Fallecimientos
Provincia
Almería          46         9                  37               0
Cádiz           103        19                  84               0
Córdoba         125        25                 100               0
Granada         244        87                 147              10
Huelva           36        13                  23               0
Jaén            119        41                  76               2
Málaga          424       109                 298              17
Sevilla         190        64                 125               1
Total          1287       367                 890              30

In [4]:
# Prepare
provincias = ['Almería', 'Cádiz', 'Córdoba', 'Granada', 'Huelva', 'Jaén', 'Málaga', 'Sevilla', 'Total']
dfP = pd.DataFrame(0, index=provincias, columns=['Ingresados','Altas', 'Bajas'])

dfP['Ingresados'] = dfL['Ingresos']
dfP['Bajas'] = dfL['Fallecimientos']
dfP['Fecha'] = fecha

dfP

         Ingresados  Altas  Bajas       Fecha
Almería           9      0      0  20/03/2020
Cádiz            19      0      0  20/03/2020
Córdoba          25      0      0  20/03/2020
Granada          87      0     10  20/03/2020
Huelva           13      0      0  20/03/2020
Jaén             41      0      2  20/03/2020
Málaga          109      0     17  20/03/2020
Sevilla          64      0      1  20/03/2020
Total           367      0     30  20/03/2020

In [5]:
dfP.to_csv(filename, encoding='utf-8', header=False, mode='+a', index_label='Provincia')

In [6]:
# Load csv 
dfCSV = pd.read_csv(filename, index_col='Provincia')
dfCSV.loc['Total']

           Ingresados  Altas  Bajas       Fecha
Provincia
Total              58      1      0  13/03/2020
Total              93      1      3  14/03/2020
Total             134      1      6  15/03/2020
Total             160      1      7  16/03/2020
Total             200      1     11  17/03/2020
Total             223      1     19  18/03/2020
Total             307      0     23  19/03/2020
Total             367      0     30  20/03/2020