In [1]:
import pandas as pd

In [2]:
filename = 'covid19-es-and.csv'
fecha = '21/03/2020'
url = 'https://www.juntadeandalucia.es/organismos/saludyfamilias/actualidad/noticias/detalle/233529.html'

In [3]:
# Load 
tables = pd.read_html(url, header=0, index_col='Provincia')
assert len(tables) == 1
dfL = tables[0]
dfL

           Positivo  Ingresos  Seguimiento activo  Fallecimientos
Provincia
Almería      53.000        13                  40               0
Cádiz       126.000        27                  99               0
Córdoba     143.000        34                 106               3
Granada     289.000       100                 176              13
Huelva       37.000        16                  21               0
Jaén        138.000        63                  73               2
Málaga      484.000       161                 303              20
Sevilla     245.000        89                 154               2
Total         1.515       503                 972              40

In [4]:
# Prepare
provincias = ['Almería', 'Cádiz', 'Córdoba', 'Granada', 'Huelva', 'Jaén', 'Málaga', 'Sevilla', 'Total']
dfP = pd.DataFrame(0, index=provincias, columns=['Ingresados','Altas', 'Bajas'])

dfP['Ingresados'] = dfL['Ingresos']
dfP['Bajas'] = dfL['Fallecimientos']
dfP['Fecha'] = fecha

dfP

         Ingresados  Altas  Bajas       Fecha
Almería          13      0      0  21/03/2020
Cádiz            27      0      0  21/03/2020
Córdoba          34      0      3  21/03/2020
Granada         100      0     13  21/03/2020
Huelva           16      0      0  21/03/2020
Jaén             63      0      2  21/03/2020
Málaga          161      0     20  21/03/2020
Sevilla          89      0      2  21/03/2020
Total           503      0     40  21/03/2020

In [5]:
dfP.to_csv(filename, encoding='utf-8', header=False, mode='+a', index_label='Provincia')

In [6]:
# Load csv 
dfCSV = pd.read_csv(filename, index_col='Provincia')
dfCSV.loc['Total']

           Ingresados  Altas  Bajas       Fecha
Provincia
Total              58      1      0  13/03/2020
Total              93      1      3  14/03/2020
Total             134      1      6  15/03/2020
Total             160      1      7  16/03/2020
Total             200      1     11  17/03/2020
Total             223      1     19  18/03/2020
Total             307      0     23  19/03/2020
Total             367      0     30  20/03/2020
Total             503      0     40  21/03/2020