In [1]:
import pandas as pd

In [2]:
filename = 'covid19-es-and.csv'
fecha = '19/03/2020'
url = 'https://www.juntadeandalucia.es/organismos/saludyfamilias/actualidad/noticias/detalle/233441.html'

In [3]:
# Load 
tables = pd.read_html(url, header=0, index_col='Provincia')
assert len(tables) == 1
dfL = tables[0]
dfL

           Positivo  Ingresos  Seguimiento activo  Fallecimientos
Provincia
Almería          37         7                  30               0
Cádiz            84        15                  69               0
Córdoba         101        26                  75               0
Granada         176        66                 103               7
Huelva           23        15                   8               0
Jaén             88        32                  54               2
Málaga          361        93                 255              13
Sevilla         138        53                  84               1
Total          1008       307                 678              23

In [4]:
# Prepare
provincias = ['Almería', 'Cádiz', 'Córdoba', 'Granada', 'Huelva', 'Jaén', 'Málaga', 'Sevilla', 'Total']
dfP = pd.DataFrame(0, index=provincias, columns=['Ingresados','Altas', 'Bajas'])

dfP['Ingresados'] = dfL['Ingresos']
dfP['Bajas'] = dfL['Fallecimientos']
dfP['Fecha'] = fecha

dfP

         Ingresados  Altas  Bajas       Fecha
Almería           7      0      0  19/03/2020
Cádiz            15      0      0  19/03/2020
Córdoba          26      0      0  19/03/2020
Granada          66      0      7  19/03/2020
Huelva           15      0      0  19/03/2020
Jaén             32      0      2  19/03/2020
Málaga           93      0     13  19/03/2020
Sevilla          53      0      1  19/03/2020
Total           307      0     23  19/03/2020

In [5]:
# dfP.to_csv(filename, encoding='utf-8', header=False, mode='+a', index_label='Provincia')

In [6]:
# Load csv 
dfCSV = pd.read_csv(filename, index_col='Provincia')
dfCSV.loc['Total']

           Ingresados  Altas  Bajas       Fecha
Provincia
Total              58      1      0  13/03/2020
Total              93      1      3  14/03/2020
Total             134      1      6  15/03/2020
Total             160      1      7  16/03/2020
Total             200      1     11  17/03/2020
Total             223      1     19  18/03/2020
Total             307      0     23  19/03/2020